.zone-menu-wrapper{
	margin: 0;
	background: url(../images/overlay.png) repeat-x 0 -110px #f10189;
	line-height: 100%;
	border-radius: 1em;
	font: normal 0.5333333333333333em Arial, Helvetica, sans-serif;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	width: auto;
	display: block;
}
#zone-menu .navigation {
	margin-left: 12%;
}
#zone-menu li {
  margin: 0 5px;
  padding: 5px;
  float: left;
  position: relative;
  list-style: none;  
}
#zone-menu a,
#zone-menu a:link {
  font-weight: bold;
  font-size: 13px;
  color: #FFF;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  margin: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
#zone-menu a:hover {
  background: #000;
  color: #fff;
}

#zone-menu li:hover > a {
  font-weight: normal;
  background: #9A0A4C url(../images/overlay.png) repeat-x 0 -40px !important;
  background: #666666 url(../images/overlay.png) repeat-x 0 -40px;
  color: #FFF;
  border: solid 1px  #f8f8f8;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 0 #ffffff;
}
#zone-menu ul ul li:hover a,
#zone-menu li:hover li a {
  background: none;
  border: none;
  color: #666;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#zone-menu ul ul a:hover {
  background: #f10189 url(../images/overlay.png) repeat-x 0 -100px !important;
  color: #fff !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
#zone-menu li:hover > ul {
  display: block;
}
#zone-menu ul ul {
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 40px;
  left: 0;
  background: url(../images/overlay.png) repeat-x 0 0;
  border: solid 1px #b4b4b4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
#zone-menu ul ul li {
  float: none;
  margin: 0;
  padding: 3px;
  z-index: 1000;
}
#zone-menu ul ul a,
#zone-menu ul ul a:link {
  font-weight: normal;
  font-size: 12px;
}
#zone-menu ul:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
* html #zone-menu ul {
  height: 1%;
}
